In [7]:
shopping = ('sugar', 'milk', 'bread', 'detergents')
mixed_tuple = ('sugar', 20, 3.14, True)

print(shopping[0])
print(mixed_tuple)

sugar
('sugar', 20, 3.14, True)

In [8]:
person = ('John', 25, 'Data Scientist')
name, age, profession = person
print(name)

John

In [15]:
my_tuple = ((1, 2), (3, 4))
print(my_tuple[1][0])

3

In [18]:
numbers = (1, 2, 3, 2, 4, 6, 1, 2)
print(numbers.count(1))
# print(numbers)

2

In [19]:
tuple1 = (1, 2, 3, 4)
tuple2 = (5, 6, 7, 8)

combined = tuple1 + tuple2
print(combined)

(1, 2, 3, 4, 5, 6, 7, 8)

In [20]:
tuple3 = (1, 2, 3, 4)
print(tuple3 * 5)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [21]:
my_string = "zindua"
reversed_string = my_string[::-1]
print(reversed_string)

audniz

In [24]:
my_string = "zindua"
reversed_string1 = ''.join(reversed(my_string))
print(reversed_string1)

audniz